.create {
    padding-bottom: 2rem;
}

.create input {
    width: 53%;
    margin-right: 3.3%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: .5rem;
}

.create .name {
    width: 29%;
}