.wrapper {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper .wrapperNote {
    margin-bottom: 1rem;
    text-align: left;
}

.wrapper .wrapperNote p {
    display: flex;
    justify-content: space-between;
    margin: .2rem .3rem .2rem 2rem;
    text-align: left;
}

.wrapper .wrapperNote li {
    border: 1px solid #b3b7bb;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: 5px;
}

.wrapper .wrapperNote .editBox input {
    width: 80%;
    margin-right: 11%;
}

.wrapper .wrapperComment {
    border: solid .3px #58a3ff;
    border-radius: 5px;
    width: 85%;
    margin-left: 7%;
}

.wrapper .wrapperComment .wrapperNote {
    margin: .5rem;
}

.wrapper .onButComment {
    margin-top: .5rem;
}

.addComment {
    display: flex;
    justify-content: space-between;
}

.addComment input {
    width: 70%;
}

.create {
    padding-bottom: 2rem;
}

.create input {
    width: 53%;
    margin-right: 3.3%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: .5rem;
}

.create .name {
    width: 29%;
}