.ulWrapper {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ulWrapper .wrapperNote p,
.wrapperNoteComment p,
.wrapperCreateNote p,
.wrapperEditNote p {
    display: flex;
    justify-content: space-between;
    margin: .2rem .3rem .2rem 2rem;
    text-align: left;
}

.ulWrapper .wrapperNote,
.wrapperCreateNote,
.wrapperEditNote {
    margin: 1rem 0 .5rem 0;
    text-align: left;
}

.ulWrapper li {
    border: 1px solid #b3b7bb;
    padding: .3rem 1rem .3rem 1rem;
    border-radius: 5px;
}

/**Edit Notes**/
.ulWrapper .wrapperEditNote .editBox input {
    width: 80%;
    margin-right: 11%;
}

/**Note Comment**/
.ulWrapper .wrapperNoteComment {
    border: solid .3px #58a3ff;
    border-radius: 5px;
    width: 85%;
    margin: 0 7% 1rem 7%;
}

.ulWrapper .wrapperNoteComment .wrapperComment {
    margin: .5rem;
}

.wrapperComment .addComment {
    display: flex;
    justify-content: space-between;
}

.wrapperComment .addComment input {
    width: 70%;
}

.ulWrapper .onButComment {
    margin-top: .5rem;
}

/**Form Notes**/
.FormNotes {
    padding-bottom: 2rem;
}

.FormNotes input {
    width: 53%;
    margin-right: 3.3%;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: .5rem;
}

.FormNotes .name {
    width: 29%;
}

/**Setting**/
.containerSetting button {
    background-color: whitesmoke;
    margin: 1rem;
}