.App header {
    padding-top: 4rem;
    width: 450px;
    margin: 0 auto;
}

.App {
    text-align: center;
}

.App {
    display: grid;
    grid-template-areas: "header" "page" "notes";
    margin: 5px;
    grid-gap: 5px;
}

.App .notes{
    width: 450px;
    margin: 0 auto;
}
