.App header, .notes {
    width: 450px;
    margin: 0 auto;
}

.App header {
    padding-top: 4rem;
    font-family: cursive;
}

.App {
    text-align: center;
}

.App {
    display: grid;
    grid-template-areas: "header" "page" "notes";
    margin: 5px;
    grid-gap: 3px;
}

.App .page {
    margin: 1rem 0 1rem 0;
}

button {
    border: .5px solid darkgrey;
    border-radius: 5px;
    background-color: burlywood;
}
